<div class="footer-container">
    <footer id="footer" class="container">
        <div class="row">
            <section class="blockcategories_footer footer-block col-xs-12 col-sm-3">
                <h4>Danh mục</h4>
                <div class="category_footer toggle-footer">
                    <div class="list">
                        <ul class="tree dhtml">
                            <li>
                                <a href="#" title="">
                                    Hoa giả, hoa khô, cỏ khô
                                </a>
                            </li>
                            <li>
                                <a href="#" title="">
                                    Hoa nhỏ xavia
                                </a>
                            </li>
                            <li>
                                <a href="#" title="">
                                    Đồ kim loại
                                </a>
                            </li>
                            <li>
                                <a href="#" title="">
                                    Đồng hồ
                                </a>
                            </li>
                            <li>
                                <a href="#" title="">
                                    Khung ảnh
                                </a>
                            </li>
                            <li>
                                <a href="#" title="">
                                    Set hoa cắm sẵn
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </section>

            <section class="footer-block col-xs-12 col-sm-3" id="block_various_links_footer">
                <h4>Thông tin</h4>
                <ul class="toggle-footer" style="">
                    <li class="item">
                        <a href="#" title="Specials">
                            Thông tin khuyến mãi
                        </a>
                    </li>
                    <li class="item">
                        <a href="#" title="Sản phẩm mới">
                            Sản phẩm mới
                        </a>
                    </li>
                    <li class="item">
                        <a href="#" title="Sản phẩm nổi bật">
                            Sản phẩm nổi bật
                        </a>
                    </li>
                    <li class="item">
                        <a href="@Url.Action("Contact", "Home")" title="Liên hệ">
                            Liên hệ
                        </a>
                    </li>
                    <li class="item">
                        <a href="@Url.Action("About", "Home")" title="Về chúng tôi">
                            Về chúng tôi
                        </a>
                    </li>
                    <li>
                        <a href="#" title="Sitemap">
                            Sitemap
                        </a>
                    </li>
                </ul>
            </section>

            <div class="bottom-footer col-xs-12">
                <div>
                    © <span class="current-year">@DateTime.Now.Year.ToString()</span> <a class="_blank" title="prestashop" href="/" target="_blank">Copyright by XAVIADECOR™</a>
                </div>
            </div>

            <section id="block_contact_infos" class="footer-block col-xs-12 col-sm-3">
                <div>
                    <h4>Liên hệ</h4>
                    <ul class="toggle-footer" style="">
                        <li>
                            02 Quang Trung, Đà Nẵng
                        </li>
                        <li>
                            Tel:
                            <span>800-2345-6789</span>
                        </li>
                        <li>
                            <span><a href="mailto:info@xaviadecor.com">info@xaviadecor.com</a></span>
                        </li>
                    </ul>
                </div>
            </section>

            <div id="newsletter_block_left" class="footer-block col-xs-12 col-sm-3">
                <h4>Nhận thông báo</h4>
                <div class="block_content">
                    <form action="#" method="post">
                        <div class="form-group">
                            <input class="inputNew form-control grey newsletter-input" id="newsletter-input" type="text" name="email" size="18" value="Nhập email của bạn">
                            <button type="submit" name="submitNewsletter" class="btn btn-default btn-sm">
                                <span>Đăng ký</span>
                            </button>
                            <input type="hidden" name="action" value="0">
                        </div>
                    </form>
                </div>

                <section id="social_block">
                    <ul>
                        <li class="facebook">
                            <a target="_blank" href="https://www.facebook.com/xaviadecor" title="Facebook">
                                <span>Facebook</span>
                            </a>
                        </li>
                        <li class="twitter">
                            <a target="_blank" href="https://www.twitter.com/xaviadecor" title="Twitter">
                                <span>Twitter</span>
                            </a>
                        </li>
                        <li class="google-plus">
                            <a target="_blank" href="https://www.google.com/+xaviadecor" title="Google Plus">
                                <span>Google Plus</span>
                            </a>
                        </li>
                    </ul>
                    <h4>Follow us</h4>
                </section>
            </div>
            
            <div class="clearfix"></div>
        </div>
    </footer>
</div>
