<div class="footer-container">
    <footer id="footer" class="container">
        <div class="row">
            <section class="blockcategories_footer footer-block col-xs-12 col-sm-2">
                <h4>Categories</h4>
                <div class="category_footer toggle-footer" style="">
                    <div class="list">
                        <ul class="tree dhtml">
                            <li>
                                <a href="#" title="">
                                    Benches
                                </a>
                                <ul>
                                    <li>
                                        <a href="#" title="">
                                            Metal
                                        </a>
                                        <ul>
                                            <li>
                                                <a href="#" title="">
                                                    Garden Sets
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" title="">
                                                    Rattan
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" title="">
                                                    Wicker Sofas
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" title="">
                                                    Outdoor Tables
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" title="">
                                                    Patio Umbrellas &amp; Bases
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" title="">
                                                    Living Room Sofas
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#" title="">
                                            Rattan
                                        </a>
                                        <ul>
                                            <li>
                                                <a href="#" title="">
                                                    Outdoor Tables &amp; Chairs
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" title="">
                                                    Lounging furniture
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" title="">
                                                    Outdoor organising
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" title="">
                                                    Outdoor cushions
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" title="">
                                                    Decorative Lighting
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" title="">
                                                    Parasols &amp; Gazebos
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#" title="">
                                            Wood
                                        </a>
                                        <ul>
                                            <li>
                                                <a href="#" title="">
                                                    Decking
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" title="">
                                                    Barbeques
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" title="">
                                                    Garden furniture sets
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" title="">
                                                    Benches &amp; swing seats
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" title="">
                                                    Cushions &amp; covers
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" title="">
                                                    Parasols &amp; bases
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#" title="">
                                            Plastic
                                        </a>
                                        <ul>
                                            <li>
                                                <a href="#" title="">
                                                    Relaxing furniture
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" title="">
                                                    Pools &amp; spas
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" title="">
                                                    Playhouses
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" title="">
                                                    Garden candles and lanterns
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" title="">
                                                    Camping &amp; caravan equipment
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" title="">
                                                    Sports equipment
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#" title="">
                                    Day beds
                                </a>
                            </li>
                            <li>
                                <a href="#" title="">
                                    Ottomans
                                </a>
                            </li>
                            <li>
                                <a href="#" title="">
                                    Chairs
                                </a>
                            </li>
                            <li>
                                <a href="#" title="">
                                    Sets
                                </a>
                            </li>
                            <li>
                                <a href="#" title="">
                                    Sectionals
                                </a>
                            </li>
                            <li>
                                <a href="#" title="">
                                    Tables
                                </a>
                            </li>
                            <li>
                                <a href="#" title="">
                                    Gazebos
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </section>


            <section class="footer-block col-xs-12 col-sm-2" id="block_various_links_footer">
                <h4>Information</h4>
                <ul class="toggle-footer" style="">
                    <li class="item">
                        <a href="#" title="Specials">
                            Specials
                        </a>
                    </li>
                    <li class="item">
                        <a href="#" title="New products">
                            New products
                        </a>
                    </li>
                    <li class="item">
                        <a href="#" title="Top sellers">
                            Top sellers
                        </a>
                    </li>
                    <li class="item">
                        <a href="#" title="Our stores">
                            Our stores
                        </a>
                    </li>
                    <li class="item">
                        <a href="#" title="Contact us">
                            Contact us
                        </a>
                    </li>
                    <li class="item">
                        <a href="#" title="About us">
                            About us
                        </a>
                    </li>
                    <li class="item">
                        <a href="#" title="Pages configuration">
                            Pages configuration
                        </a>
                    </li>
                    <li>
                        <a href="#" title="Sitemap">
                            Sitemap
                        </a>
                    </li>
                </ul>
            </section>
            <div class="bottom-footer col-xs-12">
                <div>
                    © <span class="current-year">2016</span> <a class="_blank" title="prestashop" href="https://www.prestashop.com/" target="_blank">Ecommerce software by PrestaShop™</a>
                </div>
            </div>

            <section class="footer-block col-xs-12 col-sm-2">
                <h4>
                    <a href="#" title="Manage my customer account" rel="nofollow">My account</a>
                </h4>
                <div class="block_content toggle-footer" style="">
                    <ul class="bullet">
                        <li>
                            <a href="#" title="My orders" rel="nofollow">My orders</a>
                        </li>
                        <li>
                            <a href="#" title="My merchandise returns" rel="nofollow">My merchandise returns</a>
                        </li>
                        <li>
                            <a href="#" title="My credit slips" rel="nofollow">My credit slips</a>
                        </li>
                        <li>
                            <a href="#" title="My addresses" rel="nofollow">My addresses</a>
                        </li>
                        <li>
                            <a href="#" title="Manage my personal information" rel="nofollow">My personal info</a>
                        </li>
                    </ul>
                </div>
            </section>

            <section id="block_contact_infos" class="footer-block col-xs-12 col-sm-2">
                <div>
                    <h4>Contact us</h4>
                    <ul class="toggle-footer" style="">
                        <li>
                            My Company
                            Glasgow D04 89GR
                        </li>
                        <li>
                            Tel:
                            <span>800-2345-6789</span>
                        </li>
                        <li>
                            <span><a href="mailto:">info@demolink.org</a></span>
                        </li>
                    </ul>
                </div>
            </section>

            <div id="newsletter_block_left" class="footer-block col-xs-12 col-sm-4">
                <h4>Newsletter</h4>
                <div class="block_content">
                    <form action="#" method="post">
                        <div class="form-group">
                            <input class="inputNew form-control grey newsletter-input" id="newsletter-input" type="text" name="email" size="18" value="Enter your e-mail">
                            <button type="submit" name="submitNewsletter" class="btn btn-default btn-sm">
                                <span>Subscribe</span>
                            </button>
                            <input type="hidden" name="action" value="0">
                        </div>
                    </form>
                </div>
            </div>

            <section id="social_block" class="col-xs-12 col-sm-4">
                <ul>
                    <li class="facebook">
                        <a target="_blank" href="https://www.facebook.com/prestashop" title="Facebook">
                            <span>Facebook</span>
                        </a>
                    </li>
                    <li class="twitter">
                        <a target="_blank" href="https://www.twitter.com/prestashop" title="Twitter">
                            <span>Twitter</span>
                        </a>
                    </li>
                    <li class="google-plus">
                        <a target="_blank" href="https://www.google.com/+prestashop" title="Google Plus">
                            <span>Google Plus</span>
                        </a>
                    </li>
                </ul>
                <h4>Follow us</h4>
            </section>
            <div class="clearfix"></div>
        </div>
    </footer>
</div>
