@model OnlineStore.Model.ViewModel.ProductDetailsView
@{
    ViewBag.Title = "Chi tiết sản phẩm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="columns-container">
    <div id="columns" class="container">

        <div class="breadcrumb clearfix">
            <a class="home" href="http://livedemo00.template-help.com/prestashop_58023/" title="Return to Home">
                <i class="fa fa-home"></i>
            </a>
            <span class="navigation-pipe">&gt;</span>
            Outdoor Chair Cushions
        </div><!-- breadcrumb -->

        <div id="slider_row" class="row">
        </div>
        <div class="row">
            <div class="large-left col-sm-12">
                <div class="row">
                    <div id="center_column" class="center_column col-xs-12 col-sm-12 accordionBox">
                        <div itemscope="" itemtype="https://schema.org/Product">
                            <div class="primary_block row">

                                <div class="pb-left-column col-sm-6 col-md-6 col-lg-8">

                                    <div id="image-block" class="clearfix is_caroucel">
                                        <span class="sale-box no-print">
                                            <span class="sale-label">Sale!</span>
                                        </span>
                                        <span id="view_full_size">
                                            <a class="jqzoom" title="" rel="gal1" href="./Outdoor Chair Cushions - Garden Furniture_files/36-tm_thickbox_default.jpg" style="outline-style: none; text-decoration: none;">
                                                <div class="zoomPad"><img itemprop="image" src="./Outdoor Chair Cushions - Garden Furniture_files/36-tm_large_default.jpg" title="" alt="Outdoor Chair Cushions" style="opacity: 1;"><div class="zoomPup" style="display: none;"></div><div class="zoomWindow" style="position: absolute; display: none; z-index: 5001; cursor: default; left: 0px; top: 0px;"><div class="zoomWrapper" style="width: 729px; border-width: 1px; cursor: crosshair;"><div class="zoomWrapperTitle" style="width: 100%; position: absolute; display: none;"></div><div class="zoomWrapperImage" style="width: 100%; height: 729px;"></div></div></div><div class="zoomPreload" style="top: 352px; left: 328.5px; position: absolute; visibility: visible;">Loading zoom</div></div>
                                            </a>
                                        </span>
                                    </div>

                                    <div id="views_block" class="clearfix">
                                        <a id="view_scroll_left" class="" title="Other views" href="javascript:{}" style="cursor: default; opacity: 0; display: none;">
                                            Previous
                                        </a>
                                        <div id="thumbs_list">
                                            <ul id="thumbs_list_frame" style="height: 576px;">
                                                <li id="thumbnail_36">
                                                    <a href="javascript:void(0);" rel="{gallery: &#39;gal1&#39;, smallimage: &#39;http://livedemo00.template-help.com/prestashop_58023/img/p/3/6/36-tm_large_default.jpg&#39;,largeimage: &#39;http://livedemo00.template-help.com/prestashop_58023/img/p/3/6/36-tm_thickbox_default.jpg&#39;}" title="Outdoor Chair Cushions">
                                                        <img class="img-responsive" id="thumb_36" src="./Outdoor Chair Cushions - Garden Furniture_files/36-tm_cart_default.jpg" alt="Outdoor Chair Cushions" title="Outdoor Chair Cushions" height="80" width="80" itemprop="image">
                                                    </a>
                                                </li>
                                                <li id="thumbnail_37">
                                                    <a href="javascript:void(0);" rel="{gallery: &#39;gal1&#39;, smallimage: &#39;http://livedemo00.template-help.com/prestashop_58023/img/p/3/7/37-tm_large_default.jpg&#39;,largeimage: &#39;http://livedemo00.template-help.com/prestashop_58023/img/p/3/7/37-tm_thickbox_default.jpg&#39;}" title="Outdoor Chair Cushions">
                                                        <img class="img-responsive" id="thumb_37" src="./Outdoor Chair Cushions - Garden Furniture_files/37-tm_cart_default.jpg" alt="Outdoor Chair Cushions" title="Outdoor Chair Cushions" height="80" width="80" itemprop="image">
                                                    </a>
                                                </li>
                                                <li id="thumbnail_38">
                                                    <a href="javascript:void(0);" rel="{gallery: &#39;gal1&#39;, smallimage: &#39;http://livedemo00.template-help.com/prestashop_58023/img/p/3/8/38-tm_large_default.jpg&#39;,largeimage: &#39;http://livedemo00.template-help.com/prestashop_58023/img/p/3/8/38-tm_thickbox_default.jpg&#39;}" title="Outdoor Chair Cushions">
                                                        <img class="img-responsive" id="thumb_38" src="./Outdoor Chair Cushions - Garden Furniture_files/38-tm_cart_default.jpg" alt="Outdoor Chair Cushions" title="Outdoor Chair Cushions" height="80" width="80" itemprop="image">
                                                    </a>
                                                </li>
                                                <li id="thumbnail_39">
                                                    <a href="javascript:void(0);" rel="{gallery: &#39;gal1&#39;, smallimage: &#39;http://livedemo00.template-help.com/prestashop_58023/img/p/3/9/39-tm_large_default.jpg&#39;,largeimage: &#39;http://livedemo00.template-help.com/prestashop_58023/img/p/3/9/39-tm_thickbox_default.jpg&#39;}" title="Outdoor Chair Cushions">
                                                        <img class="img-responsive" id="thumb_39" src="./Outdoor Chair Cushions - Garden Furniture_files/39-tm_cart_default.jpg" alt="Outdoor Chair Cushions" title="Outdoor Chair Cushions" height="80" width="80" itemprop="image">
                                                    </a>
                                                </li>
                                                <li id="thumbnail_40">
                                                    <a href="javascript:void(0);" rel="{gallery: &#39;gal1&#39;, smallimage: &#39;http://livedemo00.template-help.com/prestashop_58023/img/p/4/0/40-tm_large_default.jpg&#39;,largeimage: &#39;http://livedemo00.template-help.com/prestashop_58023/img/p/4/0/40-tm_thickbox_default.jpg&#39;}" title="Outdoor Chair Cushions">
                                                        <img class="img-responsive" id="thumb_40" src="./Outdoor Chair Cushions - Garden Furniture_files/40-tm_cart_default.jpg" alt="Outdoor Chair Cushions" title="Outdoor Chair Cushions" height="80" width="80" itemprop="image">
                                                    </a>
                                                </li>
                                                <li id="thumbnail_41" class="last">
                                                    <a href="javascript:void(0);" rel="{gallery: &#39;gal1&#39;, smallimage: &#39;http://livedemo00.template-help.com/prestashop_58023/img/p/4/1/41-tm_large_default.jpg&#39;,largeimage: &#39;http://livedemo00.template-help.com/prestashop_58023/img/p/4/1/41-tm_thickbox_default.jpg&#39;}" title="Outdoor Chair Cushions">
                                                        <img class="img-responsive" id="thumb_41" src="./Outdoor Chair Cushions - Garden Furniture_files/41-tm_cart_default.jpg" alt="Outdoor Chair Cushions" title="Outdoor Chair Cushions" height="80" width="80" itemprop="image">
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                        <a id="view_scroll_right" title="Other views" href="javascript:{}" style="cursor: default; opacity: 0; display: none;">
                                            Next
                                        </a>
                                    </div>


                                    <p class="resetimg clear no-print">
                                        <span id="wrapResetImages" style="display: none;">
                                            <a href="http://livedemo00.template-help.com/prestashop_58023/index.php?id_product=9&amp;controller=product&amp;id_lang=1" data-id="resetImages">
                                                <i class="fa fa-repeat"></i>
                                                Display all pictures
                                            </a>
                                        </span>
                                    </p>
                                </div>

                                <div class="pb-right-column col-sm-6 col-md-6 col-lg-4">
                                    <div class="product-info-line">
                                        <p id="product_reference">
                                            <label>Mã sản phẩm: </label>
                                            <span class="editable" itemprop="sku" content="00102">@Model.ProductCode</span>
                                        </p>
                                    </div>
                                    <h1 itemprop="name">@Model.Name</h1>
                                    <div class="product-info-line">

                                        <p id="availability_statut">
                                            <span id="availability_value" class="label label-danger">This product is no longer in stock</span>
                                        </p>
                                        <p id="product_condition">
                                            <label>Condition: </label>
                                            <link itemprop="itemCondition" href="https://schema.org/NewCondition">
                                            <span class="editable">New product</span>
                                        </p>

                                        <p id="pQuantityAvailable" style="display: none;">
                                            <span id="quantityAvailable">0</span>
                                            <span id="quantityAvailableTxt">Item</span>
                                            <span id="quantityAvailableTxtMultiple">Items</span>
                                        </p>
                                    </div>
                                    <p class="warning_inline" id="last_quantities" style="display: none">Warning: Last items in stock!</p>
                                    <p id="availability_date" style="display: none;">
                                        <span id="availability_date_label">Availability date:</span>
                                        <span id="availability_date_value"></span>
                                    </p>

                                    <div id="oosHook">
                                    </div>

                                    <form id="buy_block" action="http://livedemo00.template-help.com/prestashop_58023/index.php?controller=cart" method="post">

                                        <p class="hidden">
                                            <input type="hidden" name="token" value="9a4f60ed30b2623f68a5fb9bcaa68d2d">
                                            <input type="hidden" name="id_product" value="9" id="product_page_product_id">
                                            <input type="hidden" name="add" value="1">
                                            <input type="hidden" name="id_product_attribute" id="idCombination" value="">
                                        </p>
                                        <div class="box-info-product">
                                            <div class="content_prices clearfix">
                                                <p class="our_price_display" itemprop="offers" itemscope="" itemtype="https://schema.org/Offer">
                                                    <span id="our_price_display" itemprop="price" content="40">@Model.Price</span><meta itemprop="priceCurrency" content="USD">
                                                </p>
                                                <div class="clear"></div>
                                            </div>
                                            <div class="product_attributes clearfix">
                                                <div class="clearfix">

                                                    <p id="quantity_wanted_p" style="display: none;">
                                                        <label for="quantity_wanted">Quantity</label>
                                                        <input type="text" min="1" name="qty" id="quantity_wanted" class="text" value="1">
                                                        <a href="http://livedemo00.template-help.com/prestashop_58023/index.php?id_product=9&amp;controller=product&amp;id_lang=1#" data-field-qty="qty" class="btn btn-default button-minus product_quantity_down">
                                                            <span>
                                                                <i class="fa fa-minus"></i>
                                                            </span>
                                                        </a>
                                                        <a href="http://livedemo00.template-help.com/prestashop_58023/index.php?id_product=9&amp;controller=product&amp;id_lang=1#" data-field-qty="qty" class="btn btn-default button-plus product_quantity_up">
                                                            <span>
                                                                <i class="fa fa-plus"></i>
                                                            </span>
                                                        </a>
                                                        <span class="clearfix"></span>
                                                    </p>
                                                    <div id="add_to_cart_product_page_button" class="unvisible">
                                                        <p id="add_to_cart" class="buttons_bottom_block no-print">
                                                            <button type="submit" name="Submit" class="btn btn-default ajax_add_to_cart_product_button">
                                                                <span>Add to cart</span>
                                                            </button>
                                                        </p>
                                                    </div>
                                                </div>

                                                <p id="minimal_quantity_wanted_p" style="display: none;">
                                                    The minimum purchase order quantity for the product is
                                                    <b id="minimal_quantity_label">1</b>
                                                </p>
                                            </div>
                                            <div class="box-cart-bottom">
                                                <p class="buttons_bottom_block no-print">
                                                    <a id="wishlist_button_nopop" href="http://livedemo00.template-help.com/prestashop_58023/index.php?id_product=9&amp;controller=product&amp;id_lang=1#" onclick="WishlistCart(&#39;wishlist_block_list&#39;, &#39;add&#39;, &#39;9&#39;, $(&#39;#idCombination&#39;).val(), document.getElementById(&#39;quantity_wanted&#39;).value); return false;" rel="nofollow" title="Add to my wishlist">
                                                        Add to wishlist
                                                    </a>
                                                </p>

                                                <div id="product_payment_logos">
                                                    <div class="box-security">
                                                        <h5 class="product-heading-h5"></h5>
                                                        <img src="./Outdoor Chair Cushions - Garden Furniture_files/payment-logo.png" alt="" class="img-responsive">
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </form>
                                    <div class="extra-right">
                                        <p class="socialsharing_product no-print">
                                            <button data-type="twitter" type="button" class="btn btn-twitter social-sharing">
                                                <i class="fa fa-twitter"></i>
                                            </button>
                                            <button data-type="facebook" type="button" class="btn btn-facebook social-sharing">
                                                <i class="fa fa-facebook"></i>
                                            </button>
                                            <button data-type="google-plus" type="button" class="btn btn-google-plus social-sharing">
                                                <i class="fa fa-google-plus"></i>
                                            </button>
                                            <button data-type="pinterest" type="button" class="btn btn-pinterest social-sharing">
                                                <i class="fa fa-pinterest"></i>
                                            </button>
                                        </p>
                                        <div id="product_comments_block_extra" class="no-print" itemprop="aggregateRating" itemscope="" itemtype="https://schema.org/AggregateRating">
                                            <div class="comments_note clearfix">
                                                <span>Rating&nbsp;</span>
                                                <div class="star_content clearfix">
                                                    <div class="star star_on"></div>
                                                    <div class="star star_on"></div>
                                                    <div class="star star_on"></div>
                                                    <div class="star star_on"></div>
                                                    <div class="star"></div>
                                                    <meta itemprop="worstRating" content="0">
                                                    <meta itemprop="ratingValue" content="4">
                                                    <meta itemprop="bestRating" content="5">
                                                </div>
                                            </div>
                                            <ul class="comments_advices">
                                                <li>
                                                    <a href="http://livedemo00.template-help.com/prestashop_58023/index.php?id_product=9&amp;controller=product&amp;id_lang=1#idTab5" class="reviews" title="Read reviews">
                                                        Read reviews (<span itemprop="reviewCount">1</span>)
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <ul id="usefull_link_block" class="clearfix no-print">
                                        <li class="sendtofriend">
                                            <a id="send_friend_button" href="http://livedemo00.template-help.com/prestashop_58023/index.php?id_product=9&amp;controller=product&amp;id_lang=1#send_friend_form" title="Send to a friend">
                                                Send to a friend
                                            </a>
                                            <div style="display: none;">
                                                <div id="send_friend_form">
                                                    <h2 class="page-subheading">
                                                        Send to a friend
                                                    </h2>
                                                    <div class="row">
                                                        <div class="product clearfix col-xs-12 col-sm-6">
                                                            <img src="./Outdoor Chair Cushions - Garden Furniture_files/36-home_default.jpg" alt="Outdoor Chair Cushions">
                                                            <div class="product_desc">
                                                                <p class="product_name">
                                                                    <strong>Outdoor Chair Cushions</strong>
                                                                </p>
                                                                <p>Fashion in this case is really interesting phenomenon - we often like things that are good-looking. And it is normal - after all we get maximum information through the eyes. And our product is a perfect combination of cute shapes and real good content.</p>
                                                            </div>
                                                        </div>
                                                        <div class="send_friend_form_content col-xs-12 col-sm-6" id="send_friend_form_content">
                                                            <div id="send_friend_form_error"></div>
                                                            <div id="send_friend_form_success"></div>
                                                            <div class="form_container">
                                                                <p class="intro_form">
                                                                    Recipient :
                                                                </p>
                                                                <p class="text">
                                                                    <label for="friend_name">
                                                                        Name of your friend <sup class="required">*</sup> :
                                                                    </label>
                                                                    <input id="friend_name" name="friend_name" type="text" value="">
                                                                </p>
                                                                <p class="text">
                                                                    <label for="friend_email">
                                                                        E-mail address of your friend <sup class="required">*</sup> :
                                                                    </label>
                                                                    <input id="friend_email" name="friend_email" type="text" value="">
                                                                </p>
                                                                <p class="txt_required">
                                                                    <sup class="required">*</sup> Required fields
                                                                </p>
                                                            </div>
                                                            <p class="submit">
                                                                <button id="sendEmail" class="btn btn-sm" name="sendEmail" type="submit">
                                                                    <span>Send</span>
                                                                </button>&nbsp;
                                                                or&nbsp;
                                                                <a class="closefb" href="http://livedemo00.template-help.com/prestashop_58023/index.php?id_product=9&amp;controller=product&amp;id_lang=1#" title="Cancel">
                                                                    Cancel
                                                                </a>
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>

                                    </ul>
                                </div>

                            </div><!-- product short description -->
                            <div class="clearfix product-information"> 
                                <ul class="product-info-tabs nav nav-stacked col-sm-3 col-md-3 col-lg-3">
                                    <li class="product-description-tab active"><a data-toggle="tab" href="http://livedemo00.template-help.com/prestashop_58023/index.php?id_product=9&amp;controller=product&amp;id_lang=1#product-description-tab-content">More info</a></li>
                                    <li class="product-features-tab"><a data-toggle="tab" href="http://livedemo00.template-help.com/prestashop_58023/index.php?id_product=9&amp;controller=product&amp;id_lang=1#product-features-tab-content">Data sheet</a></li>
                                    <li class="product-video-tab">
                                        <a href="http://livedemo00.template-help.com/prestashop_58023/index.php?id_product=9&amp;controller=product&amp;id_lang=1#product-video-tab-content" data-toggle="tab">Video</a>
                                    </li>
                                </ul>
                                <div class="tab-content col-sm-9 col-md-9 col-lg-9">
                                    <div id="product-description-tab-content" class="product-description-tab-content tab-pane active">
                                        <div class="rte">
                                            <p>Fashion in this case is really interesting phenomenon - we often like things that are good-looking. And it is normal - after all we get maximum information through the eyes. And our product is a perfect combination of cute shapes and real good content. It is really a product of a new generation. We promise that with our good you will always be in fashion and stylish.</p>
                                            <p>&nbsp;</p>
                                            <p>&nbsp;&nbsp;&nbsp;&nbsp; Fashion in this case is really interesting phenomenon - we often like things that are good-looking. And it is normal - after all we get maximum information through the eyes. And our product is a perfect combination of cute shapes and real good content. It is really a product of a new generation. We promise that with our good you will always be in fashion and stylish. For those people who don't care about fashion we offer some interesting design versions which have simple design and functional options.</p>
                                            <p>&nbsp;</p>
                                            <p>&nbsp;&nbsp;&nbsp;&nbsp; You know, nowadays we have also faced the problem of choice. All these new technologies that surround us, they became so much more available and many stores use them to represent us numerous goods. And often we are not even sure if it's necessary to purchase it. But this problem is not about this case because even if you haven't decided that you need this product we will gladly help you and together we will find out your needs. After that we will offer you exactly what you need.</p>
                                            <p>&nbsp;</p>
                                            <p>&nbsp;&nbsp;&nbsp;&nbsp; Don't forget about our 24/7 support system will help you solve your problems anytime. We care about our clients and never let them down.&nbsp; &nbsp; &nbsp;&nbsp;</p>
                                        </div>
                                    </div>


                                    <div id="product-features-tab-content" class="product-features-tab-content tab-pane">
                                        <table class="table-data-sheet">
                                            <tbody>
                                                <tr class="odd">
                                                    <td>Seat Cushion Included</td>
                                                    <td>Yes, set of 2</td>
                                                </tr>
                                                <tr class="even">
                                                    <td>Type </td>
                                                    <td>Outdoor cushion</td>
                                                </tr>
                                                <tr class="odd"></tr>
                                                <tr class="even"></tr>
                                            </tbody>
                                        </table>
                                    </div>

                                    <div id="product-video-tab-content" class="product-video-tab-content tab-pane">
                                        <div class="videowrapper">
                                            <iframe type="text/html" src="./Outdoor Chair Cushions - Garden Furniture_files/4l5NRAeaMhw.html" frameborder="0" wmode="Opaque"></iframe>
                                        </div>
                                        <h4 class="video-name">MDG Furnishes Carls Patio with New TV Advertising </h4>
                                    </div>
                                </div>
                            </div> <!-- product information -->
                            <section class="page-product-box">
                                <h3 class="page-product-heading">Accessories</h3>
                                <div class="block products_block accessories-block clearfix">
                                    <div class="block_content">
                                        <div class="bx-wrapper" style="max-width: 1432px; margin: 0px auto;">
                                            <div class="bx-viewport" style="width: 100%; overflow: hidden; position: relative; height: 313px;">
                                                <ul id="bxslider" class="bxslider clearfix" style="width: 1115%; position: relative; transition-duration: 0s; transform: translate3d(0px, 0px, 0px);">
                                                    <li class="item product-box ajax_block_product first_item product_accessories_description" style="float: left; list-style: none; position: relative; margin-right: 20px; width: 198.167px;">
                                                        <div class="product_desc">
                                                            <a href="http://livedemo00.template-help.com/prestashop_58023/index.php?id_product=11&amp;controller=product&amp;id_lang=1" title="Outdoor High Back Chair Cushions" class="product-image product_image">
                                                                <img class="lazyOwl" src="./Outdoor Chair Cushions - Garden Furniture_files/48-tm_home_default.jpg" alt="Outdoor High Back Chair Cushions" width="500" height="500">
                                                            </a>
                                                            <div class="block_description">
                                                                <a href="http://livedemo00.template-help.com/prestashop_58023/index.php?id_product=11&amp;controller=product&amp;id_lang=1" title="More" class="product_description">
                                                                    Fashion in this case...
                                                                </a>
                                                            </div>
                                                        </div>
                                                        <div class="s_title_block">
                                                            <h5 class="product-name">
                                                                <a title="Outdoor High Back Chair Cushions" href="http://livedemo00.template-help.com/prestashop_58023/index.php?id_product=11&amp;controller=product&amp;id_lang=1">
                                                                    Outdoor High Back...
                                                                </a>
                                                            </h5>
                                                            <span class="price">
                                                                $56.00
                                                            </span>
                                                        </div>
                                                        <div class="clearfix" style="margin-top:5px">
                                                            <div class="no-print">
                                                                <a class="btn btn-default ajax_add_to_cart_button" href="http://livedemo00.template-help.com/prestashop_58023/index.php?controller=cart&amp;qty=1&amp;id_product=11&amp;token=9a4f60ed30b2623f68a5fb9bcaa68d2d&amp;add=" data-id-product="11" title="Add to cart">
                                                                    <span>Add to cart</span>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li class="item product-box ajax_block_product item product_accessories_description" style="float: left; list-style: none; position: relative; margin-right: 20px; width: 198.167px;">
                                                        <div class="product_desc">
                                                            <a href="http://livedemo00.template-help.com/prestashop_58023/index.php?id_product=12&amp;controller=product&amp;id_lang=1" title="One Seat Cushion" class="product-image product_image">
                                                                <img class="lazyOwl" src="./Outdoor Chair Cushions - Garden Furniture_files/54-tm_home_default.jpg" alt="One Seat Cushion" width="500" height="500">
                                                            </a>
                                                            <div class="block_description">
                                                                <a href="http://livedemo00.template-help.com/prestashop_58023/index.php?id_product=12&amp;controller=product&amp;id_lang=1" title="More" class="product_description">
                                                                    Fashion in this case...
                                                                </a>
                                                            </div>
                                                        </div>
                                                        <div class="s_title_block">
                                                            <h5 class="product-name">
                                                                <a title="One Seat Cushion" href="http://livedemo00.template-help.com/prestashop_58023/index.php?id_product=12&amp;controller=product&amp;id_lang=1">
                                                                    One Seat Cushion
                                                                </a>
                                                            </h5>
                                                            <span class="price">
                                                                $20.00
                                                            </span>
                                                        </div>
                                                        <div class="clearfix" style="margin-top:5px">
                                                            <div class="no-print">
                                                                <a class="btn btn-default ajax_add_to_cart_button" href="http://livedemo00.template-help.com/prestashop_58023/index.php?controller=cart&amp;qty=1&amp;id_product=12&amp;token=9a4f60ed30b2623f68a5fb9bcaa68d2d&amp;add=" data-id-product="12" title="Add to cart">
                                                                    <span>Add to cart</span>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li class="item product-box ajax_block_product item product_accessories_description" style="float: left; list-style: none; position: relative; margin-right: 20px; width: 198.167px;">
                                                        <div class="product_desc">
                                                            <a href="http://livedemo00.template-help.com/prestashop_58023/index.php?id_product=13&amp;controller=product&amp;id_lang=1" title=" Swing Bed with Canopy" class="product-image product_image">
                                                                <img class="lazyOwl" src="./Outdoor Chair Cushions - Garden Furniture_files/60-tm_home_default.jpg" alt=" Swing Bed with Canopy" width="500" height="500">
                                                            </a>
                                                            <div class="block_description">
                                                                <a href="http://livedemo00.template-help.com/prestashop_58023/index.php?id_product=13&amp;controller=product&amp;id_lang=1" title="More" class="product_description">
                                                                    Fashion in this case...
                                                                </a>
                                                            </div>
                                                        </div>
                                                        <div class="s_title_block">
                                                            <h5 class="product-name">
                                                                <a title=" Swing Bed with Canopy" href="http://livedemo00.template-help.com/prestashop_58023/index.php?id_product=13&amp;controller=product&amp;id_lang=1">
                                                                    Swing Bed with Ca...
                                                                </a>
                                                            </h5>
                                                            <span class="price">
                                                                $600.00
                                                            </span>
                                                        </div>
                                                        <div class="clearfix" style="margin-top:5px">
                                                            <div class="no-print">
                                                                <a class="btn btn-default ajax_add_to_cart_button" href="http://livedemo00.template-help.com/prestashop_58023/index.php?controller=cart&amp;qty=1&amp;id_product=13&amp;token=9a4f60ed30b2623f68a5fb9bcaa68d2d&amp;add=" data-id-product="13" title="Add to cart">
                                                                    <span>Add to cart</span>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li class="item product-box ajax_block_product item product_accessories_description" style="float: left; list-style: none; position: relative; margin-right: 20px; width: 198.167px;">
                                                        <div class="product_desc">
                                                            <a href="http://livedemo00.template-help.com/prestashop_58023/index.php?id_product=14&amp;controller=product&amp;id_lang=1" title="Bed Sunbed with Canopy" class="product-image product_image">
                                                                <img class="lazyOwl" src="./Outdoor Chair Cushions - Garden Furniture_files/66-tm_home_default.jpg" alt="Bed Sunbed with Canopy" width="500" height="500">
                                                            </a>
                                                            <div class="block_description">
                                                                <a href="http://livedemo00.template-help.com/prestashop_58023/index.php?id_product=14&amp;controller=product&amp;id_lang=1" title="More" class="product_description">
                                                                    Fashion in this case...
                                                                </a>
                                                            </div>
                                                        </div>
                                                        <div class="s_title_block">
                                                            <h5 class="product-name">
                                                                <a title="Bed Sunbed with Canopy" href="http://livedemo00.template-help.com/prestashop_58023/index.php?id_product=14&amp;controller=product&amp;id_lang=1">
                                                                    Bed Sunbed with C...
                                                                </a>
                                                            </h5>
                                                            <span class="price">
                                                                $150.00
                                                            </span>
                                                        </div>
                                                        <div class="clearfix" style="margin-top:5px">
                                                            <div class="no-print">
                                                                <a class="btn btn-default ajax_add_to_cart_button" href="http://livedemo00.template-help.com/prestashop_58023/index.php?controller=cart&amp;qty=1&amp;id_product=14&amp;token=9a4f60ed30b2623f68a5fb9bcaa68d2d&amp;add=" data-id-product="14" title="Add to cart">
                                                                    <span>Add to cart</span>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li class="item product-box ajax_block_product item product_accessories_description" style="float: left; list-style: none; position: relative; margin-right: 20px; width: 198.167px;">
                                                        <div class="product_desc">
                                                            <a href="http://livedemo00.template-help.com/prestashop_58023/index.php?id_product=15&amp;controller=product&amp;id_lang=1" title="Outdoor Wicker Rattan Patio Daybed with Canopy" class="product-image product_image">
                                                                <img class="lazyOwl" src="./Outdoor Chair Cushions - Garden Furniture_files/74-tm_home_default.jpg" alt="Outdoor Wicker Rattan Patio Daybed with Canopy" width="500" height="500">
                                                            </a>
                                                            <div class="block_description">
                                                                <a href="http://livedemo00.template-help.com/prestashop_58023/index.php?id_product=15&amp;controller=product&amp;id_lang=1" title="More" class="product_description">
                                                                    Fashion in this case...
                                                                </a>
                                                            </div>
                                                        </div>
                                                        <div class="s_title_block">
                                                            <h5 class="product-name">
                                                                <a title="Outdoor Wicker Rattan Patio Daybed with Canopy" href="http://livedemo00.template-help.com/prestashop_58023/index.php?id_product=15&amp;controller=product&amp;id_lang=1">
                                                                    Outdoor Wicker Ra...
                                                                </a>
                                                            </h5>
                                                            <span class="price">
                                                                $1,400.00
                                                            </span>
                                                        </div>
                                                        <div class="clearfix" style="margin-top:5px">
                                                            <div class="no-print">
                                                                <a class="btn btn-default ajax_add_to_cart_button" href="http://livedemo00.template-help.com/prestashop_58023/index.php?controller=cart&amp;qty=1&amp;id_product=15&amp;token=9a4f60ed30b2623f68a5fb9bcaa68d2d&amp;add=" data-id-product="15" title="Add to cart">
                                                                    <span>Add to cart</span>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li class="item product-box ajax_block_product item product_accessories_description" style="float: left; list-style: none; position: relative; margin-right: 20px; width: 198.167px;">
                                                        <div class="product_desc">
                                                            <a href="http://livedemo00.template-help.com/prestashop_58023/index.php?id_product=16&amp;controller=product&amp;id_lang=1" title="Wicker Patio Daybed" class="product-image product_image">
                                                                <img class="lazyOwl" src="./Outdoor Chair Cushions - Garden Furniture_files/84-tm_home_default.jpg" alt="Wicker Patio Daybed" width="500" height="500">
                                                            </a>
                                                            <div class="block_description">
                                                                <a href="http://livedemo00.template-help.com/prestashop_58023/index.php?id_product=16&amp;controller=product&amp;id_lang=1" title="More" class="product_description">
                                                                    Fashion in this case...
                                                                </a>
                                                            </div>
                                                        </div>
                                                        <div class="s_title_block">
                                                            <h5 class="product-name">
                                                                <a title="Wicker Patio Daybed" href="http://livedemo00.template-help.com/prestashop_58023/index.php?id_product=16&amp;controller=product&amp;id_lang=1">
                                                                    Wicker Patio Daybed
                                                                </a>
                                                            </h5>
                                                            <span class="price">
                                                                $720.00
                                                            </span>
                                                        </div>
                                                        <div class="clearfix" style="margin-top:5px">
                                                            <div class="no-print">
                                                                <a class="btn btn-default ajax_add_to_cart_button" href="http://livedemo00.template-help.com/prestashop_58023/index.php?controller=cart&amp;qty=1&amp;id_product=16&amp;token=9a4f60ed30b2623f68a5fb9bcaa68d2d&amp;add=" data-id-product="16" title="Add to cart">
                                                                    <span>Add to cart</span>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li class="item product-box ajax_block_product item product_accessories_description" style="float: left; list-style: none; position: relative; margin-right: 20px; width: 198.167px;">
                                                        <div class="product_desc">
                                                            <a href="http://livedemo00.template-help.com/prestashop_58023/index.php?id_product=17&amp;controller=product&amp;id_lang=1" title="Twirl Outdoor Wicker Patio " class="product-image product_image">
                                                                <img class="lazyOwl" src="./Outdoor Chair Cushions - Garden Furniture_files/90-tm_home_default.jpg" alt="Twirl Outdoor Wicker Patio " width="500" height="500">
                                                            </a>
                                                            <div class="block_description">
                                                                <a href="http://livedemo00.template-help.com/prestashop_58023/index.php?id_product=17&amp;controller=product&amp;id_lang=1" title="More" class="product_description">
                                                                    Fashion in this case...
                                                                </a>
                                                            </div>
                                                        </div>
                                                        <div class="s_title_block">
                                                            <h5 class="product-name">
                                                                <a title="Twirl Outdoor Wicker Patio " href="http://livedemo00.template-help.com/prestashop_58023/index.php?id_product=17&amp;controller=product&amp;id_lang=1">
                                                                    Twirl Outdoor Wic...
                                                                </a>
                                                            </h5>
                                                            <span class="price">
                                                                $480.00
                                                            </span>
                                                        </div>
                                                        <div class="clearfix" style="margin-top:5px">
                                                            <div class="no-print">
                                                                <a class="btn btn-default ajax_add_to_cart_button" href="http://livedemo00.template-help.com/prestashop_58023/index.php?controller=cart&amp;qty=1&amp;id_product=17&amp;token=9a4f60ed30b2623f68a5fb9bcaa68d2d&amp;add=" data-id-product="17" title="Add to cart">
                                                                    <span>Add to cart</span>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li class="item product-box ajax_block_product item product_accessories_description" style="float: left; list-style: none; position: relative; margin-right: 20px; width: 198.167px;">
                                                        <div class="product_desc">
                                                            <a href="http://livedemo00.template-help.com/prestashop_58023/index.php?id_product=18&amp;controller=product&amp;id_lang=1" title=" Chaise Lounge Bed with Umbrella" class="product-image product_image">
                                                                <img class="lazyOwl" src="./Outdoor Chair Cushions - Garden Furniture_files/96-tm_home_default.jpg" alt=" Chaise Lounge Bed with Umbrella" width="500" height="500">
                                                            </a>
                                                            <div class="block_description">
                                                                <a href="http://livedemo00.template-help.com/prestashop_58023/index.php?id_product=18&amp;controller=product&amp;id_lang=1" title="More" class="product_description">
                                                                    Fashion in this case...
                                                                </a>
                                                            </div>
                                                        </div>
                                                        <div class="s_title_block">
                                                            <h5 class="product-name">
                                                                <a title=" Chaise Lounge Bed with Umbrella" href="http://livedemo00.template-help.com/prestashop_58023/index.php?id_product=18&amp;controller=product&amp;id_lang=1">
                                                                    Chaise Lounge Bed...
                                                                </a>
                                                            </h5>
                                                            <span class="price">
                                                                $400.00
                                                            </span>
                                                        </div>
                                                        <div class="clearfix" style="margin-top:5px">
                                                            <div class="no-print">
                                                                <a class="btn btn-default ajax_add_to_cart_button" href="http://livedemo00.template-help.com/prestashop_58023/index.php?controller=cart&amp;qty=1&amp;id_product=18&amp;token=9a4f60ed30b2623f68a5fb9bcaa68d2d&amp;add=" data-id-product="18" title="Add to cart">
                                                                    <span>Add to cart</span>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li class="item product-box ajax_block_product last_item product_accessories_description" style="float: left; list-style: none; position: relative; margin-right: 20px; width: 198.167px;">
                                                        <div class="product_desc">
                                                            <a href="http://livedemo00.template-help.com/prestashop_58023/index.php?id_product=20&amp;controller=product&amp;id_lang=1" title="Lounge Chair Set with Side Table" class="product-image product_image">
                                                                <img class="lazyOwl" src="./Outdoor Chair Cushions - Garden Furniture_files/108-tm_home_default.jpg" alt="Lounge Chair Set with Side Table" width="500" height="500">
                                                            </a>
                                                            <div class="block_description">
                                                                <a href="http://livedemo00.template-help.com/prestashop_58023/index.php?id_product=20&amp;controller=product&amp;id_lang=1" title="More" class="product_description">
                                                                    Fashion in this case...
                                                                </a>
                                                            </div>
                                                        </div>
                                                        <div class="s_title_block">
                                                            <h5 class="product-name">
                                                                <a title="Lounge Chair Set with Side Table" href="http://livedemo00.template-help.com/prestashop_58023/index.php?id_product=20&amp;controller=product&amp;id_lang=1">
                                                                    Lounge Chair Set ...
                                                                </a>
                                                            </h5>
                                                            <span class="price">
                                                                $600.00
                                                            </span>
                                                        </div>
                                                        <div class="clearfix" style="margin-top:5px">
                                                            <div class="no-print">
                                                                <a class="btn btn-default ajax_add_to_cart_button" href="http://livedemo00.template-help.com/prestashop_58023/index.php?controller=cart&amp;qty=1&amp;id_product=20&amp;token=9a4f60ed30b2623f68a5fb9bcaa68d2d&amp;add=" data-id-product="20" title="Add to cart">
                                                                    <span>Add to cart</span>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div><div class="bx-controls bx-has-controls-direction"><div class="bx-controls-direction"><a class="bx-prev disabled" href="http://livedemo00.template-help.com/prestashop_58023/index.php?id_product=9&amp;controller=product&amp;id_lang=1"></a><a class="bx-next" href="http://livedemo00.template-help.com/prestashop_58023/index.php?id_product=9&amp;controller=product&amp;id_lang=1"></a></div></div>
                                        </div>
                                    </div>
                                </div>
                            </section><!-- accessories information -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 